@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

body {
    background-color: #ffffff;
}

/* body, button, html, input, select, textarea, div, p, span, label {
    font-family: "Inter", "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif" !important;
} */

html, body {
    width: 100%;
    height: 100%;
}

/* body, button, html, input, select, textarea, div, p, span, label {
    font-family: "Inter", "SFProText", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif" !important;
} */


.header-div{
    width: 100%;
height: 300px;
background: #2049B9 0% 0% no-repeat padding-box;
/* display: flex; */
opacity: 1;

position: relative;

}
.header-div-all{
    width: 100%;
height: 200px;
background: #2049B9 0% 0% no-repeat padding-box;
/* display: flex; */
opacity: 1;

position: relative;

}
.row-1{
    width: 100%;
    justify-content: space-between;
    flex: 1;
}

@media (max-width:767px){
    .header-div{
        background: #2049B9 0% 0% no-repeat padding-box;
        width: 100%;
        height:500px !important;
    }
    .box-all{
        display: block !important;
        max-width: 950px !important;
        padding-bottom: 50px !important;
    }
    .mobile-box-block{
        display: block !important;
    }
    .div-box{
        /* margin-left: 17% !important; */
       /* justify-content: center; */
       display: block !important;
      margin-bottom: 4px;
      margin-top: 8% !important;
      justify-content: center !important;
      /* margin-left: 10% !important; */
    }
    .mobile-divbox{
        display: flex;
       
    }
    .mobile-alldiv{
        display: grid !important;
        justify-content: center !important;
    }
    .mobile-lower-div
    {
        margin-top: 15px;
    }
    .recent-div{
        margin-top:100px !important;
    }
    .xdc-para{
        /* justify-content:auto; */
        text-align:center !important;
        justify-content: center !important;
        /* margin-left: 20px !important; */
        width: 88% !important;
        font-size: 15px !important;
        /* font-weight: 400 !important; */
    }
    .xdc-governance{
        font-size: 30px !important;
        font-weight: 500 !important;
    }
    .heading{
        margin: 14px !important;
        font-size: 14px !important;
    }
    .griddiv{
        height: 600px !important;
        margin-bottom: 260px !important;
        /* padding-right: 10px !important; */
    }
    .mobile-div-right{
        padding-right: 0px !important;
    }
    .view-all{
        margin-top: -25px !important;
    }
    .details{
        margin-right: 10px !important;
    }
    .poll-ended{
        margin-left: 80px !important;
    }
    .vote-number{
        margin-left: 100px !important;
    }
    .know-about-xdc{
        width: 100% !important;
        border-right:  2px solid #CEE6FD !important;
        border-top:0px solid #CEE6FD !important; 
        border-left: 0px solid #CEE6FD !important;
    }
    .xdc-forum{
        width: 100% !important;
        margin-top: 30px !important;
        border-right:  2px solid #CEE6FD !important;
        border-top:0px solid #CEE6FD !important; 
        border-left: 0px solid #CEE6FD !important;
    }
    .community-tools{
        width: 100% !important;
        margin-top: 30px !important;
        border-right:  2px solid #CEE6FD !important;
        border-top:0px solid #CEE6FD !important; 
        border-left: 0px solid #CEE6FD !important;
    }
    /* .mid-div{
        display: flex;
        flex-direction: column;
    }
    .display-flex{
        display: flex;
        flex-direction: column;
    } */
}
@media  (max-width:1023px) {
    .header-div{
        background: #2049B9 0% 0% no-repeat padding-box;
        width: 100%;
        height:370px;
    }
    .row-2{
        display: block !important;
    }
    .row-2-width{
        display: block !important;
    }
    .recent-div{
        top:320px !important;
    }
    /* .mobile-box-block{
        justify-content: space-between !important;
    } */
    .box-all1{
        display: block !important;
        /* max-width: 950px !important; */
        padding-bottom: 50px !important;
    }
    .know-about-xdc{
        width: 100% !important;
        margin-right: 135px !important;
    }
    .xdc-forum{
        width: 100% !important;
    }
    .community-tools{
        /* width: 330px !important; */
        margin-top: 50px !important;
    }
    .mid-div{
        display: flex;
        flex-direction: column;
        text-align: center !important;
        justify-content: center !important;
    }
    .xdc-governance{
        /* display: flex; */
        /* flex-direction: column; */
        justify-content: center !important;
        font-size: 30px !important;
        font-weight: 500 !important;
        /* margin-left: 8% !important; */

    }
    .xdc-para{
        /* justify-content:auto; */
        text-align:center !important;
        width: 100% !important;
        justify-content: center !important;
        /* font-size: 13px !important; */
        font-weight: 400 !important;
        /* margin-left: 100px; */
        

    }
    .para-div{
        max-width: 345px;
    }
    /* .xdc-governance{
        margin-left: 8% !important;
    }
    .header-left{
        display: flex;
        margin: 0% !important;
    }
    .connect-wallet{
        margin-left: 70vw !important;
    } */
    .div-box{
        /* margin-left: 17% !important; */
       justify-content: center;
       /* display: block !important; */
    }
    /* .mobile-divbox{
        display: flex;
    } */
}

.header-left{
    display: flex;
    
    /* justify-content: space-between; */
}
.header-logo{
    margin-top: 10px;
margin-left: 10px;
width: 45px;
height: 45px;
/* border: 2px solid #FFFFFF; */
opacity: 1;

}
.footer-logo{
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.xdc{
font: normal normal 600 22px/26px Inter;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-top:"10px";
}
.xdc p{
    height: 10px;
    width: 10px;
    margin-top: 20px;
    font-weight: 500;
    margin-left: 0px;
    font-weight: 500;
}
.xdc-footer{
    width: 52px;
    height: 29px;
    font: normal normal 600 24px/28px Inter;
    letter-spacing: 0px;
    color: #2149B9;
    opacity: 1;
    margin-top: 16px;
    margin-left: 10px;
    }
.footer-column{
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
    font-size: 17px;
    font-family: Inter,sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 85px;
}
.footer-column3{
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
    font-size: 17px;
    font-family: Inter,sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 190px;
}
    
.connect-wallet{
    /* padding-left: 5px; */
    margin-top: 17px;
    margin-right: 20px;
/* margin-left: 82vw; */
width: 140px;
height: 32px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #FFFCFC;
border-radius: 3px;
opacity: 1;
display: flex;
/* float: right; */
}
.create-wallet{
    /* margin-top: 17px;
    margin-right: 20px; */
margin: 15px;
width: 140px;
height: 32px;
background: #2149B9 0% 0% no-repeat padding-box;
border: 1px solid #FFFCFC;
border-radius: 4px;
opacity: 1;
display: flex;
}
.create-wallet p{

    padding-top: 4px;
    padding-left: 10px;
    /* color: var(--unnamed-color-2149b9); */
text-align: center;
font: normal normal medium 15px/19px Inter;
letter-spacing: 0px;
color: white;
opacity: 1;
font-size: 15px;
}

.connect-wallet p{
    padding-top: 4px;
    padding-left: 10px;
    color: var(--unnamed-color-2149b9);
text-align: center;
font: normal normal medium 15px/19px Inter;
letter-spacing: 0px;
color: #2149B9;
opacity: 1;
font-size: 14px;
}
.circle{
    padding-left: 11px;
    margin-top: 10px;
    margin-left: 10px;
    width: 10px;
height: 10px;
background: #E3E7EB 0% 0% no-repeat padding-box;
opacity: 1;
border-radius: 10px;
}
/* .mid-div{
    margin-top: 1%;
margin-left: 22%;
display: flex;
  
} */
.row-2{
    justify-content:center;
    flex: auto;
    /* width: 100%; */
}
.xdc-governance{
    
font: normal normal 600 50px/60px Inter;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-weight: 600;
font-size: 35px;
font-family: Inter;
/* display: flex; */
}
.xdc-para{
    
width: 350px;
font: normal normal normal 18px/21px Inter;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-size: 14px;
/* display: flex; */
}
.div-1{
    width: 150px;
height: 70px;
background: #1841B2 0% 0% no-repeat padding-box;
border-radius: 6px;
opacity: 1;
/* display: flex; */
margin-inline-end: 10px;
/* text-align: center; */
}
.header-right{
    display: flex;
    /* margin-top: 38px; */
}
.div-box{
    margin-top: 4%;
    /* display: flex; */
    margin-left: 4%;
    
}
/* .mobile-alldiv{
    margin-inline: 5%;
} */
.div-1-row{
    padding-top: 5px;
    padding-left: 10px;
font: normal normal medium 32px/39px Inter;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-weight: 500;
font-size: 30px;
}
.div-1-row1{
    padding-left: 10px;
    margin-top: -10px;
    font: normal normal medium 18px/21px Inter;
letter-spacing: 0px;
color: #5CADFF;
opacity: 1;
}


 /* !****Recent Prosal Css****! */
.recent-div{
    /* width: 100%;
    height: 100%; */

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 236px;
    padding-left: 20px;
    padding-right: 20px;
}
.recent-div-footer{
    /* width: 100%;
    height: 100%; */

    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    position: absolute;
    /* top: 236px; */
    padding-left: 20px;
    padding-right: 20px;
}
.all-div{
    /* width: 100%;
    height: 100%; */

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 138px;
    padding-left: 20px;
    padding-right: 20px;
}
.input-search{
    margin: 14px;
   margin-left: -10px;

}
.input-search span img{
    height: 15px;
    width: 15px;
    margin-top: 5px;
    position: relative;
    left: 20px;
}
.input-search input{
    padding: 10px;
    padding-left: 25px;
    width: 150px;
    height: 33px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E7EB;
    border-radius: 4px;
    opacity: 1;
    outline: none;
}
 .recent-proposal-div{
   



    margin-top: 0px;
    /* margin-left: 320px; */
    width: 100%;
    max-width: 950px;
    height: 65px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E7EB;
    border-color: #E3E7EB;
    border-radius: 5px;
    opacity: 1;
     box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
   
 }
 .main-footer{
     margin-top:800px;
     border: 1px solid #E3E7EB;
 }
 .recent-proposal-div-footer{
   



    margin-top: 0px;
    /* margin-left: 320px; */
    width: 100%;
    max-width: 950px;
    height: 250px;
    justify-content: center;
    align-items: center;
    /* background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E7EB;
    border-color: #E3E7EB;
    border-radius: 5px;
    opacity: 1;
     box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1); */
   
 }
 .row-2-width{


    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 950px;
     /* max-width: 1000px; */
/* 
     width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 950px; */
 }

 .recent-add-div{
     width: 100%;
     justify-content: space-between;
 }
 .heading{
    /* margin-top: 17px;
    margin-right: 20px; */
    margin: 15px;
    color: var(--unnamed-color-2a2a2a);
/* text-align: left; */
font: normal normal 600 22px/26px Inter;
letter-spacing: 0px;
color: #2A2A2A;
opacity: 1;
font-size: 18px;
font-weight: 600;
 }

 .griddiv{
    /* width: 600px; */
    /* height: 60px; */
    /* margin-top: 10px; */
    /* margin-left: 20vw; */
    /* border-radius: 12px; */
    /* box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e7eb;
    background-color: #ffffff; */

     /* box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1); */
/* height: 90%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E3E7EB;

border-radius: 6px; */
height: 500px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E3E7EB;
border-color: #E3E7EB;
border-radius: 6px;
opacity: 1;
 /* box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1); */
 }
 .blockdiv{
    /* height: 300px; */
    margin-bottom: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* border: 1px solid #E3E7EB; */
    border-color: #E3E7EB;
    border-radius: 6px;
    opacity: 1;
 }
 .blockdiv1{
    margin-bottom: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* border: 1px solid #E3E7EB; */
    border-color: #E3E7EB;
    border-radius: 6px;
    opacity: 1;
 }
 .footer{
     justify-content: center;
 }
 .box-all1{
     display: flex;
     /* margin-inline-end: 20px; */
 }
 .external-image{
    margin-left: 95%;
    margin-top: -8px;
 }
 .know-about-xdc{
    width: 294px;
    height: 150px;
    background: #FDFEFF 0% 0% no-repeat padding-box;
    border-top: 1px solid #CEE6FD;
    border-right: 1px solid #CEE6FD;
    border-radius: 6px;
    opacity: 1;
    margin-right: 30px;
    padding: 20px;

 }
 .know-about-xdc-heading{
    /* width: 240px; */
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
    font-size: 17px;
    font-family: Inter,sans-serif;
    font-weight: 600;
    padding-top: 8px;
 }
 .know-about-xdc-para{
    width: 250px;
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
    font-size: 12px;
    font-family: Inter,sans-serif;
    padding-top: 8px;
 }
 .xdc-forum{
    width: 294px;
    height: 150px;
    background: #FDFEFF 0% 0% no-repeat padding-box;
    border-top: 1px solid #CEE6FD;
    border-radius: 6px;
    opacity: 1;
    margin-right: 30px;
    padding: 20px;

 }
 .community-tools{
    width: 294px;
    height: 150px;
    background: #FDFEFF 0% 0% no-repeat padding-box;
    border-top: 1px solid #CEE6FD;
    border-left: 1px solid #CEE6FD;
    border-radius: 6px;
    opacity: 1;
    padding: 20px;

 }
 .griddiv-1{
    height: 463px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E7EB;
    border-color: #E3E7EB;
    border-radius: 6px;
    opacity: 1;
 }
 .table-between{
     justify-content: space-between;
     display: flex;
     margin-bottom: -15px;
 }
 .table-mid-line{
    margin-top: 0px;
    /* margin-left: 320px; */
    width: 100%;
    max-width: 950px;
    /* height: 55px; */
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E7EB;
    border-color: #E3E7EB;
    border-radius: 6px;
    opacity: 1;
     /* box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1); */
 }
 .time-inactiv{
    background: #CECECE 0% 0% no-repeat padding-box;
    width: 12px;
    height: 12px;
    margin-right: 10px;
 }
 .poll-ended{
margin-left: 92px;
font: normal normal medium 14px/17px Inter;
letter-spacing: 0px;
color: #CECECE;
opacity: 1;
font-size: 14px;
 }
 .details{
     height: 30px;
     width: 70px;
     background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #2049B9;
border-radius: 4px;
opacity: 1;
text-align: center;
padding-top: 5px;
margin-left: 45px;
    margin-top: 5px;
    color: #2149B9 !important;
    font-weight: 600;
 }
 .bar-line{
     width: 180px;
     height: 3px;
    display: flex;
     /* background-color: red; */
 }
 .line-1{
     background-color: #3AB70D;
     width: 120px;
     height: 3px;
 }
 .line-2{
     background-color: #F43D3D;
     width: 60px;
     height: 3px;
 }
 .percent-line{
    margin-top: 15px;
 }
 .vote-number{
     margin-top: 12px;
     margin-left: 115px;
     font: normal normal normal 15px/19px Inter;
letter-spacing: 0px;
color: #2A2A2A;
opacity: 1;
font-size: 15px;
 }
 .date{
    font: normal normal medium 14px/17px Inter;
    letter-spacing: 0px;
    color: #909090;
    opacity: 1;
 }
 .name{
    font: normal normal medium 18px/21px Inter;
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
    font-size: 14px;
    font-weight: 600;
    margin-top: 2px;
 }
 .status{
     margin-top: 5px;
   color:blue;
 }
 .status p{
    font: normal normal normal 15px/19px Inter;
    letter-spacing: 0px;
    color: #3B3B3B;
    font-size: 15px;

 }
.view-all{
    
    margin-top: -27px;
    justify-content: center;
    cursor: pointer;

/* font: normal normal medium 15px/19px Inter; */
letter-spacing: 0px;
color: #2A2A2A;
opacity: 1;
font-size: 12px;
font-weight: 600;
}
input:focus {
    border: solid 1px #0099ff;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.display-inline {
    display: inline;
}

/*Cursor-CSS*/

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

/*Borders*/
.b-1-blue {
    border: 1px solid #0052cc;
}

.b-1-white {
    border: 1px solid #e6e6e6;
}

/*Border-radius*/
.br-4 {
    border-radius: 4px;
}

/*Font-sizes*/

.fs-sm {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-40 {
    font-size: 40px;
}

/*Font-color*/

.fc-warm-grey {
    color: #999999;
}

.fc-blue {
    /* color: #0052cc !important; */
    color: #2149B9;

}
.fc-green{
    color:#3AB70D;
}

.fc-dark-slate-blue {
    color: #172b4d;
}

.fc-white {
    color: #ffffff !important;
}

.fc-black {
    color: #000000;
}

.fc-blue-grey {
    color: #5e6c84;
}

.fc-red {
    /* color: red; */
    color:#F43D3D;
}

.fc-brownish-grey {
    color: #666666;
}

.fc-dusky-blue {
    color: #465d85;
}

/*Background-color*/

.bg-blue {
    background-color: #0052cc !important;
}

/*Width-CSS*/

.outline-none {
    outline: none !important;
}

/*Width-CSS*/

.w-150 {
    width: 150px;
}

.w-450 {
    width: 450px;
}

.w-250 {
    width: 250px;
}

.z-index-100 {
    z-index: 100;
}

.text-transform-capitalize {
    text-transform: capitalize !important;
}

.input-border {
    border: solid 1px #dfe1e6;
    border-radius: 2px;
    background-color: #fafbfc;
}

.checkbox-border {
    border-radius: 2px;
    border: solid 1px #b9bbc2;
    background-color: #ffffff;
}

.subscription-plan-card-shadow {
    box-shadow: 0px 3px 21px 0 rgba(0, 0, 0, 0.07);
}

